.secao-vertical {
    display: grid;
    grid-template-columns: 1fr auto; /*largura de cada coluna*/
    grid-template-rows: 1fr 2fr;  /* altura de cada linha*/
}

.secao-vertical .secao__cartoes {
    grid-column: 1/3;
}